<div style="display: flex;
justify-content: space-between; flex-wrap: wrap;">
    <div [ngStyle]="{'width':'300' + 'px'}" *ngFor="let pokemon of pokemons" class="card-item">
        <app-poke-card [pokemon]="pokemon"></app-poke-card>
    </div>

    <!-- <div class="paginator mat-elevation-z4" *ngIf="productsDisplayed.length !== 0">
        <md-paginator [length]="paginatorSize" [pageSize]="numberOfProductsDisplayedInPage" [pageSizeOptions]="[12, 24]"
            (page)="updateProductsDisplayedInPage($event)">
        </md-paginator>
    </div> -->
</div>