.pokemon {
  display: flex;
  flex-direction: row;

  & > * {
    width: 100%;
  }

  //layout
  &__picture {
    flex: 0 0 50%;
  }

  &__picture {
    img {
      width: 100%;
      max-width: 40rem;
    }
  }

  &__info {
    flex: 0 0 40%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    h1 {
      font-size: 3rem;
      margin-bottom: 4rem;
    }
  }

  &__weight,
  &__height {
    width: 100%;
    display: flex;

    span {
      flex: 0 0 50%;
    }

    span:not(:last-child) {
      font-weight: 600;
    }
  }

  &__abilities,
  &__types {
    width: 100%;

    span {
      font-weight: 600;
    }

    p {
      text-align: center;
      margin: 0;
    }
  }

  &__loader {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
}
